/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #686763;
    font-family: "Roboto", sans-serif;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #686763;

}

/* h2 General styles */
h2 {
    font-family: "Roboto", light, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #686763;
    text-decoration: underline 1px;
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 20px;

}

/* Header styles */
header {
    background-color: #f5f4ef;
    z-index: 99;
    position: fixed;
    width: 100%;
    padding: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px #686763;
    align-items: baseline;
}

#dice-header {
    color: #e07a5f;
}

#logo {
    font-size: 25px;
}

#cafe {
    font-family: "satisfy", sans-serif;
    text-transform: lowercase;
    font-size: 90%;
}

header a {
    text-decoration: none;
}

#menu {
    font-size: 100%;
    list-style-type: none;
    padding: 4px;
}

nav {
    position: absolute;
    background-color: #f5f4ef;
    color: #686763;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

li a {
    color: #686763;
    padding: 6px;
}

li a:hover {
    text-decoration: underline;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 35px;
}

/* Main Content */
main {
    margin-top: 120px;
    min-height: 80vh;
}

/* Hero image styles */
#hero-image {
    background: url(../images/group.webp) no-repeat center center/cover;
    height: 250px;
    margin-bottom: 20px;
    display: flex;
}

#welcome-text {
    background-color: rgba(104, 103, 99, .7);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-text>h1 {
    color: #f5f4ef;
    font-size: 200%;
    font-weight: 300;
}

#hero {
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Why visit us section */
#about-us {
    display: flex;
    flex-direction: column;
    width: 20px;
    align-items: center;
    text-align: center;
}

#about-us > div {
    padding: 10px;
}

.visit {
    padding: 5px;
    text-align: center;
}

/* Images styles */
.list-image {
    height: auto;
    width: 150px;
    display: flex;
    border: solid 1px;
}



/* Contact us section */
#contact-us {
    color: #686763;
    letter-spacing: 0px;
    font-size: 20px;
    margin-bottom: 0px;
}

#contact-details {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}



/* iframe */
iframe {
    width: 100%;
    margin-top: 20px;
    height: 200px;
}

/* Hire Page */
#price-list {
    background: url(../images/group.webp) no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#price-list div {
    color: #f5f4ef;
    background-color: rgba(0, 0, 0, .7);
    padding: 20px;
    text-align: center;
    flex-basis: 140px;
    flex-grow: 1;
    border: 1px solid #f5f4ef;
}

.fa-people-group,
.fa-people-roof,
.fa-children {
    color: #e07a5f;
}

/* Booking form styles */
#booking {
    margin-top: 20px;
    padding: 10px;
    flex-grow: 1;
}


#booking-form {
    border: #686763 solid 1px;
    border-radius: 5%;
    background-color: #f5f4ef;
    color: #686763;
    padding: 5px;
    margin: auto;
    width: fit-content;
}

#booking-form>div {
    padding: 5px;
}

#booking-button {
    font-size: 14px;
}

/* Footer */

#social-networks {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 10px 0;
    font-size: 25px;
    display: flex;
}

/* Competition Page */

#competition-page {
    background: url(../images/gamedrink.webp);
    background-size: cover;
    background-position: center;
    padding: 10px;
    flex-grow: 1;
}

#prize-header {
    color: #f5f4ef;
}

#prize-draw {
    background-color: rgba(104, 103, 99, .8);
    border: #f5f4ef solid;
    padding: 20px;
    margin: auto;
    color: #f5f4ef;
    font-weight: 400;
    width: fit-content;
}

#submit-button {
    font-size: 15px;
}

#winner {
    color: #f5f4ef;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

/* 404 Error Page Styles */
#error-page {
    display: flex;
}


/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    .nav-toggle-label {
        display: none;
    }

    #hero-image {
        height: 400px;
    }

    #welcome-text>h1 {
        font-size: 300%;
    }

    #hero>h2 {
        font-size: 30px;
    }

    .visit {
        font-size: 25px;
    }

    #azul {
        height: 250px;
        width: 250px;
    }

    #backgammon {
        height: 250px;
        width: 250px;
    }

    #workerplacement {
        height: 250px;
        width: 250px;
    }

    #competition-page {
        background-position: center;
        position: relative;
    }

    th {
        font-size: 25px;
    }

    td {
        font-size: 20px;
        padding: 5px;
    }

}

@media screen and (min-width: 1200px) {
    #hero-image {
        height: 600px;
    }

}