/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #686763;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #686763;

}

#cafe {
    font-family: "satisfy", sans-serif;
    text-transform: lowercase;
    font-size: 90%;
}


h2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f5f4ef;
    text-align: center;

}

/* Header styles */
header {
    background-color: #f5f4ef;
    position: fixed;
    width: 91%;
    padding: 5px;
    margin: auto;
    text-align: left;
    display: flex;
    align-items: baseline;
    box-shadow: 0 2px 2px #686763;
}

header a {
    text-decoration: none;
}


#menu {
    font-size: 100%;
    list-style-type: none;
    margin: auto;
    padding: 4px;
}

nav {
    position: absolute;
    background-color: #f5f4ef;
    color: #686763;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
    
}

li a {
    color: #686763;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 35px;
}

main {
    margin-top: 140px;
}

#hero {
    height: fit-content;
    margin: auto;
    padding: 10px;
    background-color: #686763;
}

p {
    color: #f5f4ef;
    text-align: justify;
    padding: 2px;
}

#hero-image {
    width: 100%;
    border-radius: 25%;
}

#about-us {
    display: flex;
    flex-direction: column;
}

/* Contact us section */
#contact-us {
    color: #686763;
    letter-spacing: 0px;
    font-size: 90%;

}

#contact-details {
    width: 100%;
    border: #686763 solid 2px;
    text-align: center;
}

th {
    font-size: 14px;
    border: 1px solid #686763;
}

td {
    font-size: 12px;
    border: 1px solid #686763;
}
