/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #4A4E69;
    font-family: "Roboto", sans-serif;
}

h1,
h2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F2E9E4;

}

/* Header styles */
header {
    background-color: #22223B;
    position: fixed;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

#menu {
    list-style-type: none;
}

main {
    margin-top: 200px;
}

#hero {
    height: fit-content;
    margin: auto;
    padding: 10px;
    background-color: #4A4E69;
}

p {
    color: #F2E9E4;
}

#azul {
    width: 100%;
    border: 1px solid #F2E9E4;
    border-radius: 25%;
}

